/*

COLOUR PALETTE

orange accent       ff8e2d
teal                20abad
darker teal         007c84
off-white           eeeaeb

GOOGLE FONTS 

font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;

*/

/* UNIVERSAL STYLES */

body {
    font-family: 'Poppins', sans-serif;
    color: #eeeaeb;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    padding: 1rem 0 2.5rem 0;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    padding-bottom: 2rem;
}

a {
    text-transform: uppercase;
    color: #eeeaeb;
}

p {
    font-size: 1.2rem;
    width: 75%;
    padding-left: 10rem;
    padding-bottom: 3rem;
}

img {
    width: 0.8rem;
    display: block;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

header  {
    background-color: #20abad;
}

.banner {
    background-image: url('../img/grapefruit-bg.jpg');
    background-position: center;
    background-size: cover;
    height: calc(90vh - 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 35rem;
}

.banner a {
    text-decoration: underline;
    border: 0.02rem solid #20abad;
    background-color: #20abad;
    padding: 0.8rem;
    border-radius: 0.5rem;
}


/* Hides the 2nd level nav */
ul {
    display: none;
}

/* Formats the 2nd level nav */
ul li ul {
    background: #20abad;
    width: 15rem;
    position: absolute;
    margin-top: 3rem;
}  

ul li ul a {
    text-decoration: none;
}

/* 2nd level nav appears when hovered and tabbed. */
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}


/* MOBILE VIEW */


/* DESKTOP VIEW */
@media screen and (max-width: 720px) {

    img {
        display: none;
    }


    .nav {
        flex-direction: column;
        justify-content: start;
        padding-bottom: 3rem;
    }
    
    .nav li {
        padding-left: 1rem;
        margin-bottom: 2rem;
    }

    ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        padding-left: 0;
    }

    ul li ul {
        display: block;
        position: relative;
        margin-top: 1rem;
    }

    ul li ul a {
        margin-top: 10rem;
    }

    .second-nav a {
        border-bottom: 0px solid #FFF;
    }

    .banner {
        background-image: url('../img/grapefruit-bg.jpg');
        background-position: left;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        width: 100%;
    }

    .banner p {
        width: 100%;
        padding: 7rem;
    }
    
    h2 {
        width: 70%;
        padding-left: 7rem;
    }

}

/* LARGEST VIEW */
@media screen and (min-width: 1280px) {

    img {
        width: 0.8rem;
        display: block;
    }
    
    
    .nav {
        display: flex;
        justify-content: space-evenly;
    }
    
    .nav li {
        display: flex;
        gap: 0.8rem;
        margin-bottom: 2rem;
    }
    
    
    header section {
        background-color: #20abad;
    }
    
    .banner {
        background-image: url('../img/grapefruit-bg.jpg');
        background-position: center;
        background-size: cover;
        height: calc(90vh - 1rem);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 35rem;
    }
    
    .banner a {
        text-decoration: underline;
        border: 0.02rem solid #20abad;
        background-color: #20abad;
        padding: 0.8rem;
        border-radius: 0.5rem;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
    }
    
    /* Hides the 2nd level nav */
    ul {
        display: none;
    }
    
    /* Formats the 2nd level nav */
    ul li ul {
        background: #20abad;
        width: 15rem;
        position: absolute;
        margin-top: 3rem;
    }   
    
    /* 2nd level nav appears when hovered and tabbed. */
    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }
}